Django
python-dateutil
vobject
-e git+https://github.com/atiberghien/django-agenda.git#egg=django-agenda
-e git+https://github.com/jorgebastida/django-dajaxice.git#egg=django-dajaxice
-e hg+https://bitbucket.org/neithere/django-autoslug#egg=django-autoslug
-e git+http://github.com/django-extensions/django-extensions.git#egg=django-extensions
