div#form {
	position: relative;
	text-align: left;
}

div#form .errorlist {
	margin: 0;
	padding-left: 15px;
	color: red;
}
div#form .errorlist li{
	list-style: none;
}

div#form label {
	display: inline-block;
	float: left;
	width: 120px;
	text-align: left;
	vertical-align: middle;
}

div#form input, select {
	position: relative;	
	width: 100px;
}

div#form input.datepicker{
	margin-right: 2px;
}

div#form input.timepicker {
	width: 80px;
	margin-left: 10px;
}

div#form input.text {
	width: 230px;
}

div#form textarea {
	margin-bottom: 5px;
}

div#form label.desc {
	margin-bottom: 5px;
}