{% extends "base.html" %}
{% load strings %}
{% load scheduletags %}

{% block htmlheader %}
<script type='text/javascript'>
$(document).ready(function() {
	{% for cal in calendars %}
	{{cal.slug|replace:"-,_"}}_events_source =  {
       events:function(start, end, callback) {
            $.ajax({
                url: '{% url month_calendar_json cal.slug%}',
                dataType: 'json',
                data: {
                    start: Math.round(start.getTime()),
                    end: Math.round(end.getTime()),
                },
                success: function(doc) {
                    var events = [];
                    for(var i=0; i<doc.length; i++) {
                    	if(doc[i].cancelled);
                        events.push({
                        	id : doc[i].id,
                            title: doc[i].title,
                            start: doc[i].start,
                            end: doc[i].end,
                            allDay: doc[i].allDay,
                            backgroundColor : doc[i].cancelled ? "grey" : "{{cal.color}}"
                        });
                    }
                    callback(events);
                    $.ajax({
                        url: '{% url month_calendar_html cal.slug%}',
                        dataType: 'html',
                        data: {
                            start: Math.round(start.getTime()),
                            end: Math.round(end.getTime()),
                        },
                        success: function(doc) {
                        	 $('.{{cal.slug|replace:"-,_"}}_event').remove();
                             $("#allEvents").append(doc);
                        }
                    });
                }
            });
        },
        color: '{{cal.color}}',
        textColor: 'black',
        error: function() {
            alert('there was an error while fetching events!');
        }
    };
	{% endfor %}
	
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    
	$('#calendar').fullCalendar({
		timeFormat: 'H(:mm)',
		firstDay : 1 ,//monday
		weekMode : 'variable',
		year: {{date.year}},
		month: {{date.month}}-1,
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		editable: true,
		selectable: true, //Allows a user to highlight multiple days or timeslots by clicking and dragging.
		selectHelper: true,
		select: function(startDate, endDate, allDay, jsEvent, view ) {
			if(view.name='month'){
				startDate.setHours(12);
				startDate.setMinutes(00);
				endDate.setHours(12);
				endDate.setMinutes(30);
			}
			var start =  Math.round(startDate.getTime());
			var end =  Math.round(endDate.getTime());
			var url = '{% url calendar_create_event current_calendar.slug %}?start='+start
			if (start != end){
				url += '&end='+end
			}
			jQuery.facebox({ ajax: url })
		},
	    eventResize: function(event,dayDelta,minuteDelta,revertFunc) {

	        alert(
	            "The end date of " + event.title + "has been moved " +
	            dayDelta + " days and " +
	            minuteDelta + " minutes."
	        );
	    },
	    eventClick: function(event, element) {
	    	console.log(event)
 	    	//jQuery.facebox({ ajax: "{%url ajax_edit_occurrence_by_code%}?id="+event.id});
	    },
	    eventSources: [
           {% for cal in calendars %}
           {{cal.slug|replace:"-,_"}}_events_source,
           {% endfor %}
	    ],
	});
	
	$(".calActivator").change(function(){
		$('.'+$(this).val()+'_event').remove();
	    if($(this).is(':checked')){
	        $('#calendar').fullCalendar('addEventSource', eval($(this).val()+"_events_source"));
	    }
	    else{
	        $('#calendar').fullCalendar('removeEventSource', eval($(this).val()+"_events_source"));
	    }
	});
	
	$("div#events_panel").css('height', $("div#calendar").height());
	
    $("a#new_event_link").facebox({
    		loadingImage : '{{MEDIA_URL}}/css/facebox/closelabel.png',
    		closeImage   : '{{MEDIA_URL}}/css/facebox/closelabel.png',
    }) ;
    
    $("a#new_calendar_link").facebox({
        loadingImage : '{{MEDIA_URL}}/css/facebox/closelabel.png',
        closeImage   : '{{MEDIA_URL}}/css/facebox/closelabel.png',
    }) ;
    
    $(document).bind('afterClose.facebox', function() {
    	$('#calendar').fullCalendar( 'refresh' );
    });
    
    $("#create_event_link").click(function(){
    	var url = $(this).attr("href");
    	$.facebox({ajax : url});
    	return false;
    })
});
</script>
{% include "schedule/_dialogs.html" %}
<style>
{% for cal in calendars %}
div.{{cal.slug|replace:"-,_"}}_event {
    border-color: {{cal.color}};
}
{% endfor %}
</style>
{% endblock %}

{% block content %}
<div id="info_panel" class="grid_2 alpha">
<a id="new_calendar_link" href="{% url calendar_create %}" >Add a calendar</a>
<h4>Calendar(s)</h4>
<ul>
{% for cal in calendars %}
	<li><input class="calActivator" type="checkbox" value="{{cal.slug|replace:"-,_"}}" checked="checked"/>{{cal}}</li>
{% empty %}
	<li>No calendar</li>
{% endfor %}
</ul>
</div>
<div id="calendar_panel" class="grid_11">
	<div id="calendar">
	</div>
</div>
<div id="events_panel" class="grid_3 omega" style="overflow:auto;">
    <p>
    {% create_event_url current_calendar now %}
    </p>
    <div id="allEvents">
    </div>
</div>
{% endblock %}
