{% load strings %}
{% load scheduletags %}
{% load i18n %}

{% for occ in occurences %}
<div class="block event {{occ.event.calendar.slug|replace:'-,_'}}_event" 
     style="{% if occ.cancelled %}background-color: grey;{% endif %}">
    <p>
        {% title occ %}
        {% options occ %}
	</p>
	{% if occ.description %}
	<p><em>Description : {{occ.description}}</em></p>
	{% endif %}
	<p>
		Begins the {{occ.start.date}} at {{occ.start.time}}	
	</p>
	<p>
		Ends the {{occ.end.date}} at {{occ.end.time}}
	</p>
</div>
{% endfor %}