{% load strings %}

<div onclick="location.href='';"  
     class="block event {{occ.event.calendar.slug|replace:'-,_'}}_event" 
     style="{% if occ.cancelled %}background-color: grey;{% endif %}">
    <p>
		{{occ.title}}
        {% if occ.cancelled %}
            <a style="float: right;" href="#">[Uncancel]</a>
        {% else %}
            <a style="float: right;" href="{{occ.get_edit_url}}?next={%url myagenda_home%}">[Edit]</a>
    		<a style="float: right;" href="{{occ.get_cancel_url}}?next={%url myagenda_home%}">[Cancel]</a>
        {% endif %}
	</p>
		{% if occ.description %}
		<p>Desc : {{occ.description}}</p>
		{% endif %}
	<p>
		Begins the {{occ.start.date}} at {{occ.start.time}}	
	</p>
	<p>
		Ends the {{occ.end.date}} at {{occ.end.time}}
	</p>
</div>