{{ block.super }}
<script>
function openCancelDialog(node, cancel_url, delete_url, event){
  event.stopPropagation();
  var btns = {"This":function(){openURL(cancel_url, event);}, 
		      "All":function(){openURL(delete_url, event)}, 
		      "Do nothing":function(){
                  $(this).dialog("destroy");
                  $('#calendar').fullCalendar('refetchEvents');
              }};
  dia = $("#delete_dialog").dialog({'buttons':btns, 'modal':true});
  dia.dialog('open');
  return false;
}

function openEditDialog(node, occurrence_url, event_url, event){
  event.stopPropagation();
  var btns = {"This":function(){openURL(occurrence_url, event);}, 
		      "All":function(){openURL(event_url, event);}, 
		      "Do nothing":function(){
                  $(this).dialog("destroy");
                  $('#calendar').fullCalendar('refetchEvents');
              }};
  dia = $("#edit_dialog").dialog({'buttons':btns, 'modal':true});
  dia.dialog('open');
  return false;
}

function openMoveResizeDialog(move_or_resize_url){
	  var btns = {"This":function(){callURL(move_or_resize_url+"&target=this");}, 
	              "All":function(){callURL(move_or_resize_url+"&target=all");}, 
	              "Do nothing":function(){
	            	  $(this).dialog("destroy");
	            	  $('#calendar').fullCalendar('refetchEvents');
	              }};
	  dia = $("#move_resize_dialog").dialog({'buttons':btns, 'modal':true});
	  dia.dialog('open');
	  return false;
}

function openDetail(node){
  var btns = { "Close":function(){$(this).dialog("destroy");}};
  dia = $($(node).attr("href")).dialog({'buttons':btns, 'modal':true, 'title':'Details'});
  dia.dialog('open');
  return false;
}

function openURL(url, event){
    event.stopPropagation();
    $("#edit_dialog").dialog("destroy");
    $("#delete_dialog").dialog("destroy");
    $("#move_resize_dialog").dialog("destroy");
    $.facebox({ajax : url});
}

function callURL(url, event){
    $("#edit_dialog").dialog("destroy");
    $("#delete_dialog").dialog("destroy");
    $("#move_resize_dialog").dialog("destroy");
    $.get(url);
    $('#calendar').fullCalendar('refetchEvents');
}
</script>

<div style="display:none;" id="delete_dialog" title="Question">
  Do you want to cancel this occurrence or delete all occurrences of this event?
</div>

<div style="display:none;" id="edit_dialog" title="This is a recurring event">
  Do you want to edit this occurrence or all occurrences?
</div>

<div style="display:none;" id="move_resize_dialog">
  Do you want to just move/resize this occurrence or all occurrences of this event?
</div>

