{% extends "base.html" %}
{% load dajaxice_templatetags %}
{% load agenda %}

{% block htmlheader %}
{% dajaxice_js_import %}

<script type='text/javascript'>
$(document).ready(function() {	
	$('#calendar').fullCalendar({
		firstDay : 1 ,//monday
		weekMode : 'variable',
		year: {{month.year}},
		month: {{month.month}}-1,
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		editable: true,
		selectable: true,
		selectHelper: true,
		select: function(startDate, endDate, allDay) {
			console.log(startDate);
			console.log(endDate);
		},
	    dayClick: function(date, allDay, jsEvent, view) {
			console.log(date);
	    },
	    eventClick: function(calEvent, jsEvent, view) {
	    	
	    },
		{% if event_list %}
		events: [
		         {% for event in month_events %}
					{
						url : '{% url myagenda_show_event event.slug%}',
						title: '{{ event.title }}',
						start: new Date({{ event.start_datetime|date:"Y, n-1, j, H, i"}}),
						end: new Date({{ event.end_datetime|date:"Y, n-1, j, H, i"}}),
					},
				{% endfor %}
				],
		{% endif %}
	});
	
});
</script>
<style>
li {
	display: inline;
}
</style>
{% endblock %}

{% block content %}
<div id="info_panel" class="grid_2 alpha">
<a href="#" >New calendar</a>
<h4>Calendar(s)</h4>
<ul>
{% for calendar in calendars %}
	<li>{{calendar}}</li>
{% empty %}
	<li>No declared calendar</li>
{% endfor %}
</ul>
</div>
<div id="calendar_panel" class="grid_11">
	<div id="calendar">
	</div>
</div>
<div id="events_panel" class="grid_3 omega">
<p>
<a href="{% url myagenda_create_event %}" >New event</a>
<a style="float: right;" href="{% url myagenda_current_month_view %}" >All events</a>
</p>
	<ul>
		<li>* base event, </li>
		<li>! recurrence</li>
	</ul>
{% if current_event %}
	{% with current_event as event%}
		{% include "event.html" %}
	{% endwith %}
{% else %}
	{% if month_events %}
		{% for event in month_events %}
			{% include "event.html" %}
		{% endfor %}
	{% endif %}
{% endif %}

{% endblock %}
