{% extends "base.html" %}
{% load i18n %}
{% block htmlheader %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/event_form.css" />
{% endblock %}


{% block content %}
<form action="" method="post">{% csrf_token %}
<div id="form">
		<div class="block">
			<p>{% trans "are you sure to want to delete this event"|capfirst %} ?</p>
			<p>{% trans "event"|capfirst%} : {{event.title}}</p>
			<p>From {{event.start_datetime}} to  {{event.end_datetime}}</p>
			{% if event.is_recurrence %}
				<p>This event is a recurrence :</p>
				<ul>
					<li><input type="radio" name="del_recurrence" value="1" checked/>{% trans "delete just this occurrence"%}</li>
					<li><input type="radio" name="del_recurrence" value="2"/>{% trans "delete all the recurrences"%}</li>
					<li><input type="radio" name="del_recurrence" value="3"/>{% trans "delete all the recurrences and the base event"%}</li>
				</ul>
			{% else %}
				{% if event.is_base_event %}
					<p>This event is a base event :</p>
					<ul>
						<li><input type="radio" name="del_base_event" value="1" checked/>{% trans "delete this event and make the first recurrence the new base event"%}</li>
						<li><input type="radio" name="del_base_event" value="2"/>{% trans "delete this event and all the recurrences"%}</li>
					</ul>
				{% endif %}
			{% endif %}
		</div>
</div>
<input type="submit" value="{% trans 'yes'|capfirst%}">
<input type="reset" value="{% trans 'no'|capfirst%}">
</form>
{% endblock %}