<div onclick="location.href='{% url myagenda_show_event event.slug %}';"  class="block event">
	<p>
		Title : {{event.title}} 
		{% if event.is_recurrence %}(!)
		{% else %}
			{% if event.is_base_event %}(*){% endif %}
		{% endif %}
		<a style="float: right;" href="{% url myagenda_del_event event.slug%}">del</a>
	</p>
		{% if event.description %}
		<p>Desc : {{event.description}}</p>
		{% endif %}
	<p>
		Begins the {{event.begin_date}} at {{event.start_time}}	
	</p>
	<p>
		Ends the {{event.end_date}} at {{event.end_time}}
	</p>
</div>